
html, body {
    background-color: #F8F4EA;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
}

/**practice over and over and until i recieved desired results used alot from 
class, w3, mdn, youtube videos, stack overflow and tons of google to assist me
created a new file to ensure i had the flex option **/

h1 { 
    font-weight: 400px;
    font-size: 64px;
    margin: 10px;
}

h2 {
    font-weight: 50px;
    font-size: 32px;
    margin: 0px;
}

h3 {
    font-weight: 300px;
    font-size: 20px;
    line-height: 1.6;
  line-height: 5px;
}

.container .header {
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #D7E9B9;
}

.header {
    display: flex;
    height: 100px;
}

.header nav ul {
    display: flex;
    list-style: none;
}
 .header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;
 }
.header a:hover {
    color: grey;
}
 .hero {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #EAC7C7;
    justify-content: center;
    align-items: space-between;
 }

 .avatar {
    width: 300px;
    height: 200px;
    margin: 25px 10px;
 }

p {
    margin: 75px 25px;
    font-size: 16px;
    line-height: 25px;
}
 
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
 .content #one {
    display: flex;
    width: 100%;
    margin: 25px 50px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
 }

 .content #two {
    display: flex;
    flex-direction: row;
    width: 100%;
     margin: 25px 50px;
     justify-content: space-around;
    align-items: center;
 }


  .content .img {
    width: 344px;
    height: 344px;
    border-radius: 4px;
    opacity: 2;
    transition: .5s ease;
    backface-visibility: hidden;
 }

.img:hover {
    opacity: 0.4;
}

.content #three {
    display: flex;
    flex-direction: row;
    width: 100%;
     margin: 25px 50px;
     justify-content: space-around;
    align-items: center;
 }

 .content #four {
    display: flex;
    flex-direction: row;
    width: 100%;
     margin: 25px 50px;
     justify-content: space-around;
    align-items: center;
 }


.footer  {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: #D7E9B9;
    justify-content: center;
    align-items: center;
}
  .footer ul {
    display: flex;
    list-style-type: none;
  }

  .footer h4 {
    font-weight: 200px;
    font-size: 24px;
  }

  .footer .LinkedIn {
    width: 32px;
    height: 32px;
    padding: 25px;
    border-radius: 5px;
  }

  .footer .Email {
    width: 32px;
    height: 32px;
    padding: 25px;
    border-radius: 5px;
  }
  
  @media  all and (max-width: 992px), (max-width: 600px){
    .container .header {
        flex-direction: column;
    }
  }
